@charset "utf-8";

:root {
    --dialog-shadow: 0px 20px 36px 0px rgba(0, 0, 0, 0.6);
}

.batsu {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
}

.batsu::before, .batsu::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 30px;
    background: #333;
}

.batsu::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.batsu::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.dialog {
    display: block;
    position: fixed;
    inset-inline: 0;
    inset-block: 0;
    animation-name: fadeOut, zoomOut;
    animation-fill-mode: forwards;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    box-shadow: var(--dialog-shadow);
}

.dialog::backdrop {
    backdrop-filter: blur(8px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.6);
    }
    to {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.6);
    }
}

.dialog[open] {
    animation-name: fadeIn, zoomIn;
    animation-fill-mode: forwards;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
}
